# MICE

In [127]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [128]:
df=pd.read_csv('csv/train.csv')[['Age','Pclass','Survived','Fare']]
df.head()

    Age  Pclass  Survived     Fare
0  22.0       3         0   7.2500
1  38.0       1         1  71.2833
2  26.0       3         1   7.9250
3  35.0       1         1  53.1000
4  35.0       3         0   8.0500

In [129]:
df.sample(10)

      Age  Pclass  Survived     Fare
361  29.0       2         0  27.7208
154   NaN       3         0   7.3125
772  57.0       2         0  10.5000
512  36.0       1         1  26.2875
322  30.0       2         1  12.3500
348   3.0       3         1  15.9000
308  30.0       2         0  24.0000
809  33.0       1         1  53.1000
235   NaN       3         0   7.5500
267  25.0       3         1   7.7750

In [130]:
df.isnull().sum()

Age         177
Pclass        0
Survived      0
Fare          0
dtype: int64

In [131]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['Survived']),df['Survived'],test_size=0.2,random_state=42)

In [132]:
impute=IterativeImputer(add_indicator=True)
x_train_trf=impute.fit_transform(x_train)
x_test_trf=impute.transform(x_test)

x=pd.DataFrame(x_train_trf)

x.head()

      0    1        2    3
0  45.5  1.0  28.5000  0.0
1  23.0  2.0  13.0000  0.0
2  32.0  3.0   7.9250  0.0
3  26.0  3.0   7.8542  0.0
4   6.0  3.0  31.2750  0.0

In [133]:
lr=LogisticRegression()
lr.fit(x_train_trf,y_train)
y_pred=lr.predict(x_test_trf)

accuracy_score(y_pred,y_test)

0.7541899441340782