# MICE

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
df=pd.read_csv('csv/train.csv')[['Age','Pclass','Survived','Fare']]
df.head()

    Age  Pclass  Survived     Fare
0  22.0       3         0   7.2500
1  38.0       1         1  71.2833
2  26.0       3         1   7.9250
3  35.0       1         1  53.1000
4  35.0       3         0   8.0500

In [3]:
df.sample(10)

      Age  Pclass  Survived     Fare
301   NaN       3         1  23.2500
333  16.0       3         0  18.0000
276  45.0       3         0   7.7500
867  31.0       1         0  50.4958
425   NaN       3         0   7.2500
345  24.0       2         1  13.0000
199  24.0       2         0  13.0000
26    NaN       3         0   7.2250
471  38.0       3         0   8.6625
154   NaN       3         0   7.3125

In [4]:
df.isnull().sum()

Age         177
Pclass        0
Survived      0
Fare          0
dtype: int64

In [5]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['Survived']),df['Survived'],test_size=0.2,random_state=42)

In [8]:
impute=IterativeImputer(add_indicator=True)
x_train_trf=impute.fit_transform(x_train)
x_test_trf=impute.transform(x_test)

x=pd.DataFrame(x_train_trf)

x.isnull().sum()

0    0
1    0
2    0
3    0
dtype: int64

In [ ]:
lr=LogisticRegression()
lr.fit(x_train_trf,y_train)
y_pred=lr.predict(x_test_trf)

accuracy_score(y_pred,y_test)

0.7541899441340782